[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
loguru = "*"
python-dotenv = "*"
sqlalchemy = "*"
pymysql = "*"
starlette = "*"
win32-setctime = "*"
pydantic = "*"
passlib = "*"
bcrypt = "*"
pyjwt = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = 'python run.py'
